html {margin: 1em}
label, input[type="checkbox"] {cursor:pointer}

.complete {text-decoration: line-through}
.task-group {padding:0.75em}
.space-left05 {margin-left:0.5em}
.btn {cursor: pointer}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}